

/* Versão para tablet */

@media screen and (min-width:768px) and (max-width: 992px) {

    header h1{
        font-size: 30px;
    }
    img{
        width: 230px;
    }
    form{
        position: absolute;
        left: 85%;
      }


}

/* Versão para computador */

@media screen and (min-width: 992px){

    header h1{
        font-size: 30px;
    }
    img{
        width: 310px;
    }
    form{
        position: absolute;
        left: 85%;
      }
}

/* Versão para TV */

@media screen and (min-width: 1400px){

    header h1{
        font-size: 40px;
    }
    img{
        width: 490px;
    }
    form{
        position: absolute;
        left: 90%;
      }
}