@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Josefin+Sans:wght@200;400;600;700&family=Poppins:wght@400;700&display=swap');

:root{
    --fundo: #1f1f1f
   
}
/* ============ GLOBAL ============= */
*{
    margin: 0;
    padding: 0;
}

/* ============ HEADER ============= */

header{
    font-weight: 200;
    text-transform: uppercase;
    padding: 50px;
    display: block;
    align-items: center;
}

header nav{
    margin-top: 50px;
}

header h1{
    padding: 30px;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 400;
    text-align: center;
}



/* ============ MENU ============= */

.menu-toggle{
    width: 40px;
    height: 40px;
    background-color: var(--fundo);
    cursor: pointer;
}

.menu-toggle:before, .menu-toggle:after{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 3px;
    transition: transform 0.3s;
}

.menu-toggle:before {
    transform: translateY(10px);
  }
  
  .menu-toggle:after {
    transform: translateY(30px);
  }
  
  .menu {
    display: none;
  }
  
  .menu.open {
    display: block;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 10px 0;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }

/* ============ BODY ============= */

body{
    background-color: var(--fundo);
    background-image: url("../imagens/mandalas/fundo-pb-transparente.png");
    background-repeat: no-repeat;
    background-size: 200%;
    background-attachment: fixed;
    background-position: left 15%;
    font-family: 'Josefin Sans', sans-serif;;
    color: white;
    
    
}

/* ============ MAIN ============= */

main{
    
    margin: auto;
}

img{
    box-shadow: 2px 2px 5px #0000009a;
    display: inline-block;
    margin:5px;
    width: 400px;
} 

.linha-img{
    margin: auto;
    text-align: center;
    
}

.container-img{
    display: inline-block;
    
}

/* ============ FOOTER ============= */

footer{
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    margin: 50px;
}